@import url(../scss/Base/_Base.scss);
@import url(../scss/Helpers/_variable.scss);
@import url(../scss/Helpers/_mixin.scss);




// text color
$text-primary:#b61984;
$text-dark: black;
$text-light: white;

//BG
$bg-primary:#b61984;
$bg-tran:transparent;
$bg-light: white;

// font-size
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl : 60px;
//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;


.header {
    .navbar {
        padding:0;
        .container {
       
            justify-content:space-around !important;
            //Bar
            .navbar-toggler {
              
                .navbar-toggler-icon {
                
                }
            }

            //IMG
            .navbar-brand {
                img {
                    width:100%;
                }
            }

            //Content
            .offcanvas-body {
                justify-content:flex-end;
                align-items: center;
                .navbar-nav {
                    flex-direction:row !important;
                    .nav-item {
                        margin-right: 50px;
                        
                        .nav-link {
                            font-weight: 600;
                            line-height: 80px;
                            font-size: 14px;
                            color:black;
                            position: relative;

                            &::after{
                              content: "";
                              position: absolute;
                              bottom:10%;
                              left:0;
                              margin-left: 15px;
                              display:block;
                              width:10px;
                              height:10px;
                              background: #b61984;
                              border-radius: 50%;
                              opacity: 0;
                              transition: all 0.5s;
                            }

                            &:hover::after{
                                transform: scale(1.1);
                                opacity: 1;
                            }

                            &.active::after{
                                opacity: 1;
                            }
                        }
                    }
                }

                .contact {
                    align-items: center;
                    .contact-btn {
                        button{
                            i{
                               margin-right: 5px;
                            }
                            color: white;
                            background: #b61984;
                            padding: 15px 20px;
                            border: 1px solid #b61984;
                            border-radius: 40px;
                            font-size: 14px;
                            transition: all 0.5s;
                            &:hover{
                                background: white;
                                color:#b61984;
                                box-shadow: 0 0 0 1px #b61984 inset;
                            }
                        }
                        margin-right: 20px;
                    }
                    .contact-social{
                        i{
                            margin-right: 10px;
                            font-size: 12px;
                            &:hover{
                                color: #b61984;
                            }
                        }
                    }
                }
              
            }
            //Content Bar


        }
    }
}