@import url(../scss/Base/_Base.scss);
@import url(../scss/Helpers/_variable.scss);
@import url(../scss/Helpers/_mixin.scss);

// text color
$text-primary: #b61984;
$text-dark: black;
$text-light: white;

//BG
$bg-primary: #b61984;
$bg-tran: transparent;
$bg-light: white;

// font-size
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl : 60px;
//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.header {
    height: 80px;
    width: 100%;
    position: absolute;
    background: transparent;
    transition: all 1s;

    .navbar {
        padding: 0;

        .container {
            @media screen and (max-width:1200px) {
                justify-content: flex-start !important;
                margin: 0 20px !important;
            }

            // justify-content:space-around;

            //Bar
            .navbar-toggler {
                font-size: 12px;

                .navbar-toggler-icon {}
            }

            //IMG
            .navbar-brand {
                img {
                    width: 100%;

                    @media screen and (max-width:992px) {
                        width: 80%;
                    }
                }
            }

            //Content
            .header-content {
                .offcanvas-body {
                    justify-content: flex-end;
                    align-items: center;

                    .navbar-nav {
                        flex-direction: row !important;

                        .nav-item {
                            margin-right: 50px;

                            .nav-link {
                                font-weight: 600;
                                line-height: 80px;
                                font-size: 14px;
                                color: black;
                                position: relative;

                                &::after {
                                    content: "";
                                    position: absolute;
                                    bottom: 10%;
                                    left: 0;
                                    margin-left: 15px;
                                    display: block;
                                    width: 10px;
                                    height: 10px;
                                    background: #b61984;
                                    border-radius: 50%;
                                    opacity: 0;
                                    transition: all 0.5s;
                                }

                                &:hover::after {
                                    transform: scale(1.1);
                                    opacity: 1;
                                }

                                &.active::after {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .contact {
                        align-items: center;

                        .contact-btn {
                            button {
                                i {
                                    margin-right: 5px;
                                }

                                color: white;
                                background: #b61984;
                                padding: 15px 20px;
                                border: 1px solid #b61984;
                                border-radius: 40px;
                                font-size: 14px;
                                transition: all 0.5s;

                                &:hover {
                                    background: white;
                                    color: #b61984;
                                    box-shadow: 0 0 0 1px #b61984 inset;
                                }
                            }

                            margin-right: 20px;
                        }

                        .contact-social {
                            i {
                                margin-right: 10px;
                                font-size: 12px;

                                &:hover {
                                    color: #b61984;
                                }
                            }
                        }
                    }

                }
            }

            //Content Bar
            .offcanvas {
                .offcanvas-header {
                    img {}

                    button {}
                }

                .offcanvas-main {}
            }

        }
    }
}

.carousel {
    background: url(../img/yellow_top_wave_01.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    position: relative;
    height: 800px;

    @media screen and (max-width:992px) {
        height: 1000px;
    }

    @media screen and (max-width:768px) {
        height: 900px;
    }

    @media screen and (max-width:576px) {
        height: 700px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 300px;
        background: url(../img/Violet_top_left_wave.png);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
        left: 0;
        right: 0;

    }

    .container {
        .row{
            align-items: center;
            padding-top: 80px;
            .carousel-left {

                color: black;
    
                h5 {
                    font-size: 1.1rem;
                    margin-bottom: 0.5em;
                    color: #b61984;
                    text-transform: uppercase;
                    letter-spacing: 2px;
    
                    @media screen and (max-width:992px) {
                        font-size: 15px;
                        margin-top: 20px;
                    }
                }
    
                h1 {
                    font-size: 57px;
                    font-weight: 700;
    
                    @media screen and (max-width:992px) {
                        font-size: 47px;
                    }
                }
            }
    
            .carousel-right {
                img {
                    width: 100%;
                }
            }
        }
    }
}

// Products
.Products {
    background: #dcd1f0;
    height: 1000px;
    position: relative;

    @media screen and (max-width:1200px) {
        height: 800px;
    }

    @media screen and (max-width:992px) {
        height: 1700px;
    }

    @media screen and (max-width:768px) {
        height: 1600px;
    }

    @media screen and (max-width:576px) {
        height: 4000px;
        padding: 20px;
    }

    @media screen and (max-width:500px) {
        height: 3400px;
        padding: 20px;
    }

    @media screen and (max-width:400px) {
        height: 3200px;
        padding: 20px;
    }

    &::after {
        position: absolute;
        content: "";
        background: url(../img/Wave_White_bottom_right_shape_01.png);
        bottom: 0;
        left: 0;
        right: 0;
        height: 400px;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;


    }

    .container {

        padding: 20px 0px;

        .list {

            .item {
                z-index: 99;
                margin-bottom: 10px;
                padding: 20px;

                @media screen and (max-width:576px) {
                    padding-top: 0;
                    margin-bottom: 0;
                }

                .content {
                    overflow: hidden;
                    background-color: white;
                    border-radius: 10px;
                    transition: all 0.5s;

                    &:hover {
                        box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
                    }

                    img {
                        width: 100%;
                        display: block;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        transition: all 1s;

                        &:hover {

                            transform: scale(1.1);
                        }
                    }

                    .Products-inf {
                        text-align: center;
                        padding: 20px 10px;

                        h5 {
                            font-size: .75rem;
                            margin-bottom: 0.7em;
                            color: #b61984;
                        }

                        h4 {
                            font-size: 24px;
                        }

                        p {
                            font-size: 15px;
                        }
                    }
                }

            }
        }
    }
}

// Contacts
.Contacts {
    background: #ffffff;
    position: relative;

    @media screen and (max-width:768px) {
        margin-top: 70px;
    }

    @media screen and (max-width:576px) {
        width: 100%;
    }

    &::after {
        position: absolute;
        content: "";
        background: url(../img/accent_bottom_wave_01.png);
        background-position: bottom;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 600px;
    }

    .container {

        .Contacts-content {
            padding: 100px 0px 10px 0px;

            @media screen and (max-width:576px) {
                padding: 0;
            }

            .Contacts-left {
                padding: 20px 10px 20px 80px;
                z-index: 99;

                @media screen and (max-width:992px) {
                    padding: 0;
                }

                @media screen and (max-width:768px) {
                    padding: 0;
                    margin-top: 30px;
                }

                @media screen and (max-width:576px) {
                    padding: 0;
                }

                img {
                    width: 90%;

                    @media screen and (max-width:992px) {
                        width: 100%;
                    }

                    @media screen and (max-width:768px) {
                        width: 100%;
                    }

                    @media screen and (max-width:576px) {
                        width: 100%;
                    }
                }
            }

            .Contacts-right {
                z-index: 99;

                @media screen and (max-width:768px) {
                    margin-top: 20px;
                }

                .Contacts-form {
                    width: 60%;

                    @media screen and (max-width:1200px) {
                        width: 100%;
                    }

                    @media screen and (max-width:992px) {
                        width: 100%;
                    }

                    @media screen and (max-width:768px) {
                        width: 100%;
                    }

                    @media screen and (max-width:576px) {
                        width: 100%;
                    }

                    form {

                        padding: 20px;
                        background-color: rgba(255, 255, 255, 1);
                        box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
                        border-radius: 5px;

                        h1 {
                            font-size: 2.5rem;
                            font-weight: 700;
                            text-align: center;
                            margin-bottom: 50px;
                        }

                        .row {
                            .input-btn {
                                .content {
                                    position: relative;
                                    font-size: 12px;

                                    i {
                                        position: absolute;
                                        left: 0;
                                        top: 10px;
                                        padding: 22px 8px;
                                        color: #aaa;
                                        transition: 0.3s;
                                    }

                                    input[type="text"] {

                                        width: 100%;
                                        border: 1px solid #aaa;
                                        border-radius: 20px;
                                        margin: 20px 0;
                                        outline: none;
                                        padding: 8px 8px 8px 30px;
                                        box-sizing: border-box;
                                        transition: 0.3s;
                                    }

                                    select {
                                        width: 100%;
                                        border: 1px solid #aaa;
                                        border-radius: 20px;
                                        margin: 18px 0;
                                        outline: none;
                                        padding: 8px 30px 8px 30px;
                                        box-sizing: border-box;
                                        transition: 0.3s;
                                        color: gray;

                                        option {}
                                    }

                                    textarea {
                                        margin-top: 20px;
                                        width: 100%;
                                        border-radius: 10px;
                                        border: 1px solid gray;
                                        padding-left: 30px;
                                        padding-top: 8px;
                                    }
                                }
                            }

                        }

                        .button-contact {
                            margin-top: 20px;

                            button {
                                display: block;
                                color: white;
                                background: #b61984;
                                padding: 15px 50px;
                                border: 1px solid #b61984;
                                border-radius: 40px;
                                font-size: 14px;
                                transition: all 0.5s;

                                &:hover {
                                    background: white;
                                    color: #b61984;
                                    box-shadow: 0 0 0 1px #b61984 inset;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

// Footer
.footer {
    background: url(../img/footer_background.jpg);
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    //    transform:translateY(-100px);
    background-position: center;

    @media screen and (max-width:992px) {
        height:700px;
    }

    @media screen and (max-width:768px) {
        width: 100%;
    }

    @media screen and (max-width:576px) {
        height: 1200px;
    }

    .container {
        padding-top: 100px;

        .footer-content {
            .item {
                @media screen and (max-width:768px) {
                    margin-top: 30px;
                }
            
                @media screen and (max-width:576px) {
                    margin-top: 30px;
                    padding: 0px 50px;
                }
                h1 {
                    color: white;
                    font-size: 24px;
                }

                .item-contact {
                    margin-top: 15px;

                    i {
                        color: white;
                    }

                    span {
                        margin-left: 10px;
                        font-size: 14px;
                        color: white;
                    }
                }

                .item-social {

                    i {
                        color: white;
                        margin-right: 10px;
                    }
                }

                ul {
                    padding: 0;

                    li {

                        display: block;
                        margin-top: 15px;
                        // position: relative;
                        // &::before{
                        //     position: absolute;
                        //     content: " ";
                        //     width:20px;
                        //     height:20px;
                        //     color:red;
                        //     bottom:0;
                        //     left:0;
                        //     display:block;
                        // }
                        a {
                            color: white;
                            padding: 5px 0px;
                            display: block;
                            font-size: 13.5px;
                            width: 30%;
                           
                        }
                    }
                }

                .footer-button {
                    @media screen and (max-width:576px) {
                        margin:auto;
                    }
                    button {
                        display: block;
                       
                        &:first-child {
                            display: block;
                            color: white;
                            background: transparent;
                            padding: 15px 100px;
                            border: 1px solid gray;
                            border-radius: 40px;
                            font-size: 14px;
                            transition: all 0.5s;
                            margin-top: 50px;
                            @media screen and (max-width:576px) {
                                padding:15px 80px;
                                // margin:30px auto;
                            }
                            &:focus {
                                border: 1px solid white;
                            }
                        }

                        &:last-child {
                            display: block;
                            color: black;
                            background: white;
                            padding: 15px 100px;
                            border: 1px solid white;
                            border-radius: 40px;
                            font-size: 14px;
                            transition: all 0.5s;
                            margin-top: 30px;
                            @media screen and (max-width:576px) {
                                padding:15px 80px;
                                // margin:30px auto;
                            }
                            &:hover {
                                background: transparent;
                                color: black;
                                box-shadow: 0 0 0 1px #b61984 inset;
                            }
                        }
                    }
                }
            }
        }
    }
}