// text color
$text-primary:#b61984;
$text-dark: black;
$text-light: white;

//BG
$bg-primary:#b61984;
$bg-tran:transparent;

// font-size
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl : 60px;
//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;


